.form-button {
    background-color: #38a0a6 !important;
    width: 120px !important;
    height: 50px !important;
    border-radius: 5px solid #38a0a6;
    color: white;
}

.btn-search {
    float: left;
    display: inline !important;
    font-weight: 400;
    margin-left: 6px !important;
    color: #212529;
    background-color: #e3f2fd;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 50%;
    border: 1px solid #87CEEB;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-search:hover {
    color: #000000;
    background-color: rgba(168, 216, 255, .5);
    border-color: #87CEEB;
}

.btn-search:focus {
    box-shadow: 0 0 0 .2rem rgba(168, 216, 255, .5);
}

.search-container {
    vertical-align: center;
    margin: 30px;
    display: inline-block;
}

.form-control {
    display: inline;
    float: left;
    width: 547px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}